<!DOCTYPE html>
<html>
<head>
	<title>Your favourites</title>
  <!--linking bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--linkking fontawesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--responsive page layout-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="shortcut icon" type="x-image/icon" href="favicon.ico">
    <link rel="icon" type="x-image/icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="fav.css">
</head>

<body>
  <div class="banner">
    <button type="post" style="margin-left: 6px;margin-top: 10px;"><a href="/index"><font color="#001f3f">Home Page</font></a></button>
    <div id="account">
    		<a onclick="fn()"><i class="fa fa-user-circle-o fa-2x"></i></a>
   		</div>
    	<div id="menu">
	    	<ul>
	    		<li><a href="/profile"><font color="blank">Profile</a></li>
	    		<li><a href="/cart"><font color="blank">Cart</a></li>
				<li><a href="/fav"><font color="blank">Favourites</a></li>
        <li><a href="/myorders" target="blank"><font color="blank">Orders</font></a></li>
	    		<li><a href="/logout" target="blank"><font color="blank">Logout!</font></a></li>
	    	</ul>
	    </div>
	<p style="margin-left: 6px;margin-top: 10px;"><font color="#e33745"><a href="/index">Home</a> > <a href="/main">Dishes</a> > Favourites</font></p>
	<br>
	<h1><b>Your favourites<i class="fa fa-heart"></i></b></h1>
	<br>
  </div>
  <div class="main" style=" position: relative;">
    <br>
  <div class="selector" style="width:80%;margin: 0 auto; margin-top: 20px;">
    {{# if products }}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-group">
                {{# each products }}
                    <li class="list-group-item">
                        <strong>Item: {{ this.item.title }} {{this.item.quantity}}</strong>
                        <br>
                        <span style="display: none;">{{this.qty}}</span>
                        <br>
                        <span>Current Price: {{this.price}}</span>
                        <br>
                        <a href="/move/{{this.item._id}}" style="float:right;">Remove from favourites</a>
                    </li>
                    <br>
                {{/each}}
            </ul>
        </div>
    </div>
    <br>
{{ else }}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 style="text-align: center;color:#fffde4;">You have not added anything to your favourites list yet. Try out the dishes and add your favourites here.</h2>
        </div>
    </div>
{{/if}}
  </div> 
</body>
<script>
  function fn(){
	var div = document.getElementById("menu");
	if(div.style.visibility==='hidden') {
		div.style.visibility='visible';
	}
	else{
		div.style.visibility='hidden';
	}
	window.onclick = function(event) {
  if (event.target == div) {
    div.style.visibility = "hidden";
  }
}
}
</script>
</html>




